Source/ProjectFirma.Web/Service References/KeystoneDataService/KeystoneData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Keystone.Web.DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Keystone.Web.DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost.keystone.sitkatech.com/KeystoneData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organization" nillable="true" type="tns:Organization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganization" nillable="true" type="tns:ArrayOfOrganization" />
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Biography" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAlternate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacebookURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkedInURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSuffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PersonalURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publications" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timezone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwitterURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
</xs:schema>